* {
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}


body {
    
    margin: 0;
    height: 200vh;
    transition: background-color 0.2s, color 0.2s;
    overflow-x: hidden;

}

body::-webkit-scrollbar {
    display: none;
}


.page_1 {
    
    height: 100vh;
    background-color: white;
    background-color: transparent;
    color: black;

}

.navbar {

    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
    
}

.nav-links {

    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: center;
    margin: 0 auto;
    align-items: center;

}

.nav-links li {

    margin: 0 15px;

}


.nav-links a {

    text-decoration: none;
    color: black;
    
}




.schr {


    width: 47px;
    height: 47px;
    opacity: 1;
    display: inline-block;
    transition: opacity 0.587s ease-in-out;
    margin-top: 4px;
    vertical-align: middle;

}

.schr.hidden {
    opacity: 0;
    transition: 0.1s ease-in-out;
}






h1 {

    text-align: center;
    word-spacing: normal;
    font-family: "Canela", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 77px;
    letter-spacing: -0.05vw;
    justify-content: center;
    padding-top: 29vh;
    overflow-wrap: break-word;
    font-weight: 150;
    margin-bottom: 0;

} 


h2 {

    display: flex;
    font-family: "Canela", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    word-spacing: normal;
    font-size: 13px;
    justify-content: center;
    align-items: center;
    letter-spacing: 0.1px;
    font-weight: 444;
    padding-top: 10px;

}



.page_2 {

    height: 100vh;
    background-color: transparent;
    transition: transform 0.5s ease;

}


.description_2 {

    display: flex;
    font-family: "Canela";
    text-align: center;
    font-size: 44px;
    justify-content: center;
    position: relative;
    padding-top: 41vh;
    transition: color 0.2s;
    letter-spacing: 0.5px;

}



.menu_icon_box {
    display: none;
}



.box {
    display: none;
}



@media (max-width: 765px) {

    .navbar {

        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 0px solid black;
        
    }

    .menu_icon_box {

        display: block;
        z-index: 2;
        width: fit-content;
        height: auto;
        background-color: transparent;
        margin-left: 37px;
        margin-top: 27px;
        position: absolute;
        border-radius: 4px;
        cursor: pointer;
        left: 0vw;
        max-width: 100%;
    
    }


    .box {

        display: block;
        height: 100vh;
        position: absolute;
        text-align: right;
        z-index: 1;
        right: 0px;
        opacity: 0;
        pointer-events: none;
        background-color: white;
    
    }

    .active.box {
        opacity: 1;
        right: 0px;
        pointer-events: visible;
        width: 100vw;
        height: 200vh;
        margin: 0px;
    }

    .box-text {

        font-family: "Canela";
        font-size: 15px;
        padding-top: 150px;
        letter-spacing: -0.5px; 
        position: absolute; 
        text-align: center;
        width: 100%;
        margin: 0px;

    }

    nav {
        padding-top: 10px;
    }


    nav ul {
        margin: 0px 20px;
        padding: 0;
    }


    nav ul li a {
    
        color: black;
        padding: 3vh 20px;
        display: inline-block;
        white-space: nowrap;
        border-radius: 8px;
        text-decoration: none;
        
    }

    nav ul li:hover {
        background-color: antiquewhite;
    }

    .nav-links li {
        display: none;
    }

    .line1, .line2, .line3 {

        width: 20px;
        height: 2px;
        margin: 3px 2px;
        background-color: black;
        border-radius: 30px;
        
    }
    
    .active .line1 {
        transform: translate(0px, 5px)rotate(45deg);
    }
    .active .line2 {
        opacity: 0;
    }
    .active .line3 {
        transform: translate(0px, -5px)rotate(-45deg);
    }



    h1 {

        text-align: center;
        word-spacing: normal;
        font-family: "Canela", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 77px;
        letter-spacing: -0.05vw;
        justify-content: center;
        padding-top: 200px;
        overflow-wrap: break-word;
        font-weight: 150;
        margin-bottom: 0;
    
    } 


    h2 {

        display: flex;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        text-align: center;
        word-spacing: normal;
        font-size: 100px;
        justify-content: center;
        align-items: center;
        letter-spacing: -0.5px;
        font-weight: 444;
        padding-top: 100px;
    
    }

    .description {
        display: none;
    }

    .description_2 {

        display: flex;
        font-family: "Canela";
        text-align: center;
        font-size: 30px;
        justify-content: center;
        position: relative;
        padding-top: 45vh;
        transition: color 0.2s;
        letter-spacing: 0px;
    
    }

}






@font-face {
    font-family: "Canela";
    src: url(/Fonts/canela_bold.otf)
}



@font-face {
    font-family: "Ajou";
    src: url(/Fonts/AjouTTF.ttf);
}
