* {

    margin: 0;
    padding: 0;

}

html {
  
    height: 200vh;
    width: 100%;
}


body {

    height: 200vh;
    width: 100%;
    transition: background-color 0.2s, color 0.2s;

}



.container {
    
    height: 100vh;
    background-color: white;
    background-color: transparent;
    color: black;

}


.menu_icon_box {

    z-index: 2;
    width: fit-content;
    height: auto;
    background-color: transparent;
    margin-left: 37px;
    margin-top: 27px;
    position: absolute;
    border-radius: 4px;
    cursor: pointer;
    left: 0vw;
    max-width: 100%;

}


.schr {

    float: right;
    width: 47px;
    height: 49px;
    margin-right: 25px;
    margin-top: 15.5px;
    opacity: 1;
    transition: opacity 0.127s ease-in-out;
    max-width: 100%;

}

.schr.hidden {
    opacity: 0;
}

.two {

    height: 100vh;
    background-color: transparent;
    color: white;
    transition: transform 0.5s ease;
    
}



.box {

    height: 100vh;
    position: absolute;
    text-align: left;
    z-index: 1;
    left: 0px;
    opacity: 0;
    pointer-events: none;
    transition: 0.3s;
    background-color: transparent;

}

.box-text {

    font-family: "Ajou";
    font-size: 1.2vmax;
    letter-spacing: -0.5px; 
    padding-top: 5vh;
    
}


.active.box {
    opacity: 1;
    left: 0px;
    pointer-events: visible;
}


@media (max-width: 1200px) {
    

    h1 {

        
    width: 100vw;
    text-align: center;
    word-spacing: normal;
    font-family: "Canela2";
    font-size: 100px;
    letter-spacing: -0.05vw;
    justify-content: center;
    padding-top: 27vh;
    overflow-wrap: break-word;
    }


    
}


.line1, .line2, .line3 {

    width: 20px;
    height: 2px;
    margin: 3px 2px;
    background-color: black;
    border-radius: 30px;
    
}

.active .line1 {
    transform: translate(0px, 5px)rotate(45deg);
}
.active .line2 {
    opacity: 0;
}
.active .line3 {
    transform: translate(0px, -5px)rotate(-45deg);
}

nav {
    padding-top: 11vh;
}

nav ul {
    margin: 0px 30px;
    padding: 0;
}

nav ul li {
    list-style: none;
    margin-bottom: 30px;
    transition: 0.3s;
}

nav ul li:hover {
    background-color: antiquewhite;
    border-radius: 8px;
}

nav ul li a {
    
    color: black;
    padding: 10px 20px;
    display: block;
    white-space: nowrap;
    
}


h1 {

    width: 100vw;
    text-align: center;
    word-spacing: normal;
    font-family: "Canela2";
    font-size: 100px;
    letter-spacing: -0.05vw;
    justify-content: center;
    padding-top: 35vh;
    overflow-wrap: break-word;
    font-weight: 150;
    
} 

.gap {

    margin-right: 2px;

}

.oap {
    margin-right: 1.75px;
}

.rap {
    margin-right: -0.5px;
}


h2 {

    text-align: center;
    justify-content: center;
    word-spacing: normal;
    font-family: "Ajou";

}

.Qm {

    display: flex;
    font-family: "Canela2";
    text-align: center;
    font-size: 2vmax;
    justify-content: center;
    position: relative;
    padding-top: 45vh;
    transition: color 0.2s;
}

.notion {

    margin-top: 33vh;

}



h3 {

    display: flex;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    word-spacing: normal;
    font-size: 10px;
    justify-content: center;
    align-items: center;
    padding-top: 2.7vh;
    letter-spacing: -0.5px;
    font-weight: 444;

}


a {

    text-decoration: none;
    color: black;

}


.st {
    
    font-size: 2vmax;

}


@font-face {
    font-family: "Ajou";
    src: url(/Fonts/AjouTTF.ttf)

}

@font-face {
    font-family: "Canela2";
    src: url(/Fonts/canela_bold.otf)
}

@font-face {
    font-family: "Iropke";
    src: url(/Fonts/IropkeBatangM.otf)
}

