body {

    margin: 0;
    height: 200vh;

}

h1 {

    text-align: center;
    justify-content: center;
    word-spacing: normal;
    font-family: "Canela";
    font-size: 10vw;

}


h2 {

    text-align: center;
    justify-content: center;
    word-spacing: normal;
    font-family: "Ajou";

}

.notion {

    margin-top: 27vh;

}


@font-face {
    font-family: "Ajou";
    src: url(AjouTTF.ttf)

}


h3 {

    font-family: "Ajou";
    text-align: center;
    justify-content: center;
    word-spacing: normal;
    font-size: 1vw;
    margin-top: 20vh;


}


a {
    text-decoration: none;
    color: black;
}

