* {
    padding: 0;
    overflow-x: hidden;
}



body {
    
    margin: 0;
    height: 100vh;
    overflow-x: hidden;
  
}

::-webkit-scrollbar {
    display: none;
}

.page-wrapper {
    height: 100%;
    overflow-y: auto; 
    overflow-x: hidden; 
    -webkit-overflow-scrolling: touch; 
}


.page_1 {
    
    height: 100vh;
    background-color: white;
    background-color: transparent;
    color: black;
    text-align: center;

}

.navbar {

    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
    font-family: "Gowun Dodum";
    letter-spacing: -0.33px;
    font-size: 16px;
    height: 51px;
    
}

.nav-links {

    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: center;
    margin: 0 auto;
    align-items: center;

}

.nav-links li {

    margin: 0 15px;

}


.nav-links a {

    text-decoration: none;
    color: black;
    
}



.schr {


    width: 47px;
    height: 47px;
    opacity: 1;
    display: inline-block;
    transition: opacity 0.003s ease-in-out;
    margin-top: 4px;
    vertical-align: middle;

}

.schr.hidden {
    opacity: 0;
    transition: 0.03s ease-in-out;
}






h2 {

    display: flex;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    word-spacing: normal;
    font-size: 17px;
    justify-content: center;
    align-items: center;
    letter-spacing: -0.33px;
    font-weight: 444;
    padding-top: 18vh;
    padding-right: 20vw;
    padding-left: 20vw;
    line-height: 1.6;
    overflow-wrap: break-word;

}





.ajou {

    display: flex;
    height: 1300px;
    width: 1300px;
    opacity: 5%;
    position: relative;
    bottom: 44%;
    right: -44%;

}


.sphere {

    position: fixed;
    top: 57vh;
    transform: translate(-50%);
    width: 57vw;

}




.menu_icon_box {
    display: none;
}



.box {
    display: none;
}


.br_text {
    display: inline;
}


@media (min-height: 983px) {

    .sphere {

        position: fixed;
        transform: translate(-50%);
        top: 55vh;
        width: 57vw;
    
    }
}







@media (max-width: 768px) {


    body {
        overflow: hidden;
    }


    .navbar {

        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 0px solid black;
        height: 0px;
        
    }

    .menu_icon_box {

        display: block;
        z-index: 2;
        width: fit-content;
        height: auto;
        background-color: transparent;
        margin-left: 37px;
        margin-top: 27px;
        position: absolute;
        border-radius: 4px;
        cursor: pointer;
        left: 0vw;
        max-width: 100%;
    
    }


    .box {

        display: block;
        height: 100vh;
        position: absolute;
        text-align: right;
        z-index: 1;
        right: 0px;
        opacity: 0;
        pointer-events: none;
        transition: 0s;
        background-color: white;
    
    }

    .active.box {
        opacity: 1;
        right: 0px;
        pointer-events: visible;
        width: 100vw;
        height: 200vh;
        margin: 0px;
    }

    .box-text {

        font-family: "Canela";
        font-size: 13px;
        padding-top: 100px;
        letter-spacing: -0.44px; 
        position: absolute; 
        text-align: center;
        width: 100%;
        margin: 0px;

    }

    nav {
        padding-top: 10px;
    }


    nav ul {
        margin: 0px 20px;
        padding: 0;
    }


    nav ul li a {
    
        color: black;
        padding: 4vh 20px;
        display: inline-block;
        white-space: nowrap;
        border-radius: 8px;
        text-decoration: none;
        
    }

    nav ul li:hover {
        background-color: antiquewhite;
    }

    .nav-links li {
        display: none;
    }

    .line1, .line2, .line3 {

        width: 20px;
        height: 2px;
        margin: 3px 2px;
        background-color: black;
        border-radius: 30px;
        
    }
    
    .active .line1 {
        transform: translate(0px, 5px)rotate(45deg);
    }
    .active .line2 {
        opacity: 0;
    }
    .active .line3 {
        transform: translate(0px, -5px)rotate(-45deg);
    }

    
    h2 {

        position: absolute;
        display: flex;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        word-spacing: normal;
        font-size: 15px;

        text-align: center;
        justify-content: center;
        align-items: center;

        letter-spacing: -0.5px;
        font-weight: 444;
        padding-top: 20vh;
        padding-left: 50px;
        padding-right: 50px;
    
    }
    
    

    .sphere {
        
        position: fixed;
        transform: translate(-50%);
        width: 444px;
        top: 63vh;
    }



}


@media (min-width: 769px) and (max-width: 1024px) {

    .sphere {

        position: fixed;
        transform: translate(-50%);
        width: 57vw;
        top: 57vh;
    }

    
    
    h2 {

        position: absolute;
        display: flex;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        word-spacing: normal;
        font-size: 17px;

        text-align: center;
        justify-content: center;
        align-items: center;

        letter-spacing: -0.5px;
        font-weight: 444;
        padding-top: 18vh;
        padding-left: 100px;
        padding-right: 100px;
    
    }

}





@font-face {
    font-family: "Canela";
    src: url(/Fonts/canela_bold.otf)
}
